{% extends '@ZenstruckMessengerMonitor/layout.html.twig' %}

{% block title %}History{% endblock %}

{% block breadcrumb_items %}
    {{ parent() }}
    <li class="breadcrumb-item active" aria-current="page">Statistics</li>
{% endblock %}

{% block content %}
    <div class="btn-toolbar mb-3 d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <strong class="me-3">Filters:</strong>
            <div class="btn-group me-2" role="group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <small class="text-body-secondary">Period:</small> {{ period.humanize }}
                </button>
                <ul class="dropdown-menu">
                    {% for p in periods %}
                        {% if p != period %}
                            <li><a class="dropdown-item" href="{{ path(app.current_route, app.request.query.all|merge({period: p.value})) }}">{{ p.humanize }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="btn-group me-2" role="group">
            {% embed '@ZenstruckMessengerMonitor/_refresh_button.html.twig' %}
                {% block content %}
                    {{ parent() }}
                    <span class="ms-2">Refresh</span>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="card position-relative mb-3">
        <div class="card-header">
            Per-Message Statistics
        </div>

        {% if not metrics|length %}
            <div class="card-alert card-text alert alert-warning d-flex align-items-center" role="alert">
                <svg fill="currentcolor" height="1em" width="1em" class="me-1 align-text-bottom" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                <div>
                    No messages.
                </div>
            </div>
        {% else %}
        <div class="table-responsive">
            <table class="table card-table table-striped align-text-top text-nowrap text-center">
                <thead>
                <tr>
                    <th class="text-start">Type</th>
                    <th class="text-start">Count</th>
                    <th>Fail Rate</th>
                    <th>Average Wait Time</th>
                    <th>Average Handling Time</th>
                    <th>Handled Per Minute</th>
                    <th>Handled Per Hour</th>
                    <th>Handled Per Day</th>
                </tr>
                </thead>
                <tbody>
                    {% for metric in metrics %}
                        <tr>
                            <td class="text-start"><abbr title="{{ metric.type }}">{{ metric.type.shortName }}</abbr></td>
                            <td class="text-start">
                                {{ metric.totalCount }}
                                {% if metric.failureCount %}
                                    <em>(<strong class="text-danger">{{ metric.failureCount }}</strong> failures)</em>
                                {% endif %}
                            </td>
                            <td>
                                {% set failRate = (metric.failRate * 100)|round %}
                                {% if failRate < 5 %}
                                    <span class="text-success">{{ failRate }}%</span>
                                {% elseif failRate < 10 %}
                                    <span class="text-warning">{{ failRate }}%</span>
                                {% else %}
                                    <strong class="text-danger">{{ failRate }}%</strong>
                                {% endif %}
                            </td>
                            <td>
                                <abbr title="{{ metric.averageWaitTime|round }}s">{{ helper.formatDuration(metric.averageWaitTime) }}</abbr>
                            </td>
                            <td>
                                <abbr title="{{ metric.averageHandlingTime|round }}s">{{ helper.formatDuration(metric.averageHandlingTime) }}</abbr>
                            </td>
                            <td>
                                {{ metric.handledPerMinute|round(2) }}
                            </td>
                            <td>
                                {{ metric.handledPerHour|round(2) }}
                            </td>
                            <td>
                                {{ metric.handledPerDay|round(2) }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}
